.navForm {
    width: 80%;
    margin-left: 1%;
    height: 2.2rem;
    margin-top: 1.5%;
}

.navForm>button {
    width: 5%;
    border: none;
    background-color: red;
    /* padding-left: 0%; */
    height: 2.12rem;
}

.navForm>input {
    margin-right: 0rem;
    background-color: #f9fafb;
    height: 2.12rem;
}

.navList {
    margin-left: 10%;
}

.navList>img {

    margin-left: 0.62rem;
    padding-top: 0.93rem;

}

.navList>a {

    padding-top: 0px;
    font-size: 0.875rem;

}

.navUl {
    margin-left: 1%;
}

.navForm>button>img {

    padding-bottom: 0.25rem;
}

.img1 {
    padding-left: 14%;
}

/* side dropdowns */
.topnav {
    margin-top: 0px;
    border: 1px solid #c2c8cf;
    width: 100%;
    height: 1.9rem;
    background-color: #fff;
}

.topnav-item {
    margin-left: 1.5rem;
}

.topnav-item>a {

    padding-top: 0.12rem;
    font-size: 0.875rem;

}

/* topnav dropdown */

.topdropbtn {
    background-color: #fff;
    /* color: white; */
    padding: 0px;
    font-size: 0.812rem;
    border: none;

    margin-left: 0%;
}

.topdropdown {
    position: relative;
    display: inline-block;
    /* white-space: nowrap; */

}

.topdropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 59.375rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #16ac99;
    height: 32.187rem;
    margin-top: 2%;
    /* right: 0; */
    /* overflow: auto; */

}

.topdropdown>.drdown {
    /* right: 0; */
    height: 10.625rem;
}

.topdropdown:hover {
    border-bottom: 2px solid black;
}

.topdropdown-content a:hover {
    /* background-color: .tope5f5f5; */
    font-weight: bold;
}

.topdropdown:hover .topdropdown-content {
    display: block;
    background-color: #fff;
}

.topdropdown:hover .topdropbtn {
    background-color: #fff;
}

.topdropdown>.img2 {
    margin-right: 0.625rem;
}

.topdropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #16ac99;
    height: 14.375rem;
    overflow-y: auto;
}

.topdropdown_div {
    display: flex;
    height: 100%;

    /* white-space: nowrap;*/

}

.topdropdown_div1 {

    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 25%;
    height: 100%
}

.lefthov {
    right: 0;

}

.firstDiv1 {
    display: flex;
    flex-direction: column;
}

.headanchor {
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 1.3rem 1.1rem 0rem;
}

.anchor {
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0.6rem 1.1rem 0rem;
    color: rgb(126, 123, 123);
}

.furniture_div {
    width: 93%;
    height: 14.6rem;
    margin-top: 1.6rem;

}

.extra {
    color: rgb(41, 38, 38);
    margin: 0rem 0rem 0rem 0rem;
    font-size: 1.3rem;
}

.about {
    color: rgb(41, 38, 38);
    font-size: 0.9rem;
}

.blackanchor {
    color: black;
    margin: 0.4rem 0rem 0rem;
    font-weight: bold;
    text-decoration: none;
}

.redanchor {
    color: red;
    margin: 0.4rem 0rem 0rem;
    text-decoration: none;
    font-weight: bold;
}

.anchor:hover {
    text-decoration: underline;
    color: rgb(126, 123, 123);
}

.headanchor:hover {
    text-decoration: underline;
    color: rgb(15, 15, 15);
}

.holiday {
    height: 460px;
}

.holiday_div {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.holidayPara {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0.5rem;
    color: rgb(61, 54, 54);
}

.firstHolidayDiv {
    display: flex;
    width: 100%;
    height: 9.7rem;
}

.holidayImgDiv {
    width: 22%;
    height: 100%;
    margin: 0rem auto;
    border: 1px solid #c2c8cf;
}

.holidayImgDiv>img {
    width: 100%;
}

.holidayImgDiv>p {
    font-size: 0.8rem;
    text-align: center;
    color: rgb(61, 54, 54);
}

.sales {
    height: 25rem;
    min-width: 55rem;
}

.salesDiv1 {
    /* border: 1px solid black; */
    width: 98%;
    height: 3.7rem;
    margin: 0.6rem auto;
}

.salesDiv2 {
    /* border: 1px solid black; */
    width: 98%;
    height: 17rem;
    margin: 0.2rem auto;
    display: flex;
}

.sales_div {
    display: flex;
    flex-direction: column;
}

.salesDiv1 {
    display: flex;
    background-color: #f9fafb;
}

.salesDiv1>h1 {
    margin-left: 2.8rem;
    color: red;
}

.salesDiv1>p {
    margin: 1.0rem 2.8rem;
    font-size: 1.5rem;
    color: black;
}

.salesDiv1>button {
    margin: auto 2.8rem;
    color: black;
    width: 16%;
    height: 2.9rem;
    border: none;
    border-radius: 0.2rem;
    background-color: #fff;
    font-size: 1.3rem;
}

.imgDivSales {
    height: 100%;
    width: 23%;
    border: 1px solid #c2c8cf;
    margin: 0 auto;
}

.imgDivSales>img {
    width: 100%;
    height: 14rem;
}

.imgDivSales>p {
    font-size: 0.9rem;
    color: rgb(61, 54, 54);
}


/* @media (max-width: 998px) {
html {
    font-size: 88%;
}
} */

@media (max-width: 990px) {
    html {
        font-size: 64%;
    }

    .navbar-brand>img {
        width: 90%;
        height: 1.8rem;
        margin-left: 0%;
        content: url("/images/Menu.png");
        /* display: none; */
    } 

    .d-flex {
        width: 30%;
        margin-left: 1%;
        height: 1.0rem;
    }

    .mediaImage {
        display: block;
        content: url("/images/icon.png");
        width: 10%;
        margin-right: 0%;
        float: left;

    }

    .mediaSearch {
        display: block;
        border: 1px solid #c2c8cf;
        border-radius: 5px;
        height: 2rem;
        margin-left: 0px;
        width: 60%;
        margin-right: 2%;
        background-color: #f9fafb;
    }

    .mediaCart {
        display: block;
        /* content: url("/images/icon.png"); */
        width: 5%;
        margin-right: 0%;
        float: left;
    }

    .topnav {
        display: none;
    }

    .icon {

        background: url("/images/Search.png") no-repeat right;
        background-size: 1rem;
    }
}

html {
    font-size: 100%;
}


@media (max-width: 480px) {
    html {
        font-size: 100%;
    }

 .navbar-brand>img {
        width: 90%;
        height: 1.8rem;
        margin-left: 0%;
        content: url("/images/Menu.png");
        /* display: none; */
    } 

    .d-flex {
        width: 30%;
        margin-left: 1%;
        height: 1.0rem;
    }

    .mediaImage {
        display: block;
        content: url("/images/icon.png");
        width: 10%;
        margin-right: 3%;
        float: left;

    }


    .mediaSearch {
        display: block;
        border: 1px solid #c2c8cf;
        border-radius: 5px;
        height: 2rem;
        margin-left: 0px;
        width: 65%;
        margin-right: 2%;
        background-color: #f9fafb;
    }

    .mediaCart {
        display: block;
        /* content: url("/images/icon.png"); */
        width: 5%;
        margin-right: 1%;
        float: left;
    }

    .topnav {
        display: none;
    }

    .icon {
        padding-right: 10rem;
        background: url("/images/Search.png") no-repeat right;
        background-size: 1rem;
    }

}



/* 
header css */

body {
    margin: 0px;
    padding: 0px;
    font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
    width: 100%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 0px;
    position: fixed;
    top: 0;
    z-index: 10;
}

img {
    cursor: pointer;
}

.header div {
    color: #2f3337;
    height: 50px;
    font-size: 14px;
    font-weight: 500;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header>div:nth-child(1) {
    margin-bottom: 5px;
}

.header>div {
    display: flex;
    padding: 0px 20px;
    gap: 2%;
}

.header>div:nth-child(2) {
    /* gap: 3.2%; */
    justify-content: space-between;
    padding-top: 7px;
    border-top: 1px solid #dadcdf;
    border-bottom: 1px solid #dadcdf;
}

.header>div:nth-child(2) div {
    cursor: pointer;
    border-bottom: 2px solid transparent;
    padding-bottom: 7px;
}

.header>div:nth-child(2) div:hover {
    border-bottom: 2px solid #2f3337;
}

.header>div:nth-child(2) div:hover body {
    opacity: 0;
}

.header>div>div:nth-child(2) {
    display: flex;
}

.header .class-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.header .class-account:hover .account-dropdown-content {
    display: block;
}

.header .class-account:hover .chevronup {
    display: block;
}

.header .class-account .account-dropdown-content {
    position: absolute;
    top: 56.2px;
    width: 170px;
    background-color: white;
    border: 1px solid #dadcdf;
    z-index: 4;
    padding: 15px;
    display: none;
}

.header .class-account .chevronup {
    position: absolute;
    top: 43px;
    z-index: 5;
    display: none;
}

.header .class-account .account-dropdown-content div {
    padding: 8px 0;
    font-size: 13px;
    color: #2f3337;
    font-weight: 300;
    cursor: pointer;
}

.header .class-account .account-dropdown-content div:hover {
    font-weight: 600;
}

.header .class-account .account-dropdown-content div:last-child {
    border-top: 1px solid #dadcdf;
    padding-top: 20px;
}

.header .class-input input {
    width: 97%;
    height: 79%;
    outline: none;
    border: 1px solid #dadcdf;
    border-radius: 4px 0 0 4px;
    background-color: #f9fafb;
    font-size: 16px;
    padding: 0px 1.5%;
}

.header .class-input {
    display: flex;
}

.header .class-input>div:nth-child(1) {
    width: 100%;
}

.header .class-input>div:nth-child(2) {
    background-color: #ff1f2c;
    height: 82.6%;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0 4px 4px 0;
    transform: translateX(-1px);
}

.header .class-input {
    width: 70%;
}

.header .dropdown-content-main {
    /* height: fit-content; */
  
    position: absolute;
    top: 50%;
    width: 75%;
    left: 1.5%;
    background-color: white;
    display: none;
    padding-bottom: 20px;
    z-index: 2;

}

.dropdown-content-main>div {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 25%;
    padding-top: 40px;
}

.dropdown-content-main img {
    width: 100%;
    cursor: pointer;
}

.dropdown-content-main>div div {
    font-size: 14px;
    cursor: pointer;
    color: #626669;
    margin: 0 0 8px;
    padding: 0 0 2px;
    /* width: fit-content; */
    border-bottom: 1px solid transparent;
    line-height: normal;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.dropdown-content-main>div>div>div:hover {
    border-bottom: 1px solid #2f3337;
}

.dropdown-content-main .dark-div {
    margin-bottom: 15px;
    color: #2f3337;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    margin: 0 0 8px;
    padding: 0 0 2px;
    line-height: normal;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.dropdown-content-main>div:nth-child(4)>div>div:hover {
    border-bottom: 1px solid transparent;
}

.dropdown-content-main .red-div {
    color: #c7202c;
    margin-bottom: 0;
    line-height: 22px;
    font-weight: 700;
    margin: 0 0 8px;
    padding: 0 0 2px;
    border-bottom: 1px solid transparent;
    font-size: 14px;
    cursor: pointer;
}

.dropdown-content-main>div {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 25%;
    padding-top: 40px;
}

.dropdown-content-main .dropdown-img-cont>div+div {
    font-size: 20px;
    margin: 8px 0 7px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #2f3337;
}

.dark-div:hover dropdown-content-main {
    display: block;
}