
#grey
    {
        color: grey;
        font-size: 30px;
    }
    #star
    {   
        margin-top: -20px;
        color: rgb(243,144,25);
        font-size: 30px;
    }
   #post1
    {
        width: 430px;
    }
    #choice>img
    {
        width: 70px;
        margin-right: 10px;
        height: 70%;
    }
    p
    {
        font-family: sans-serif;
        font-size: 13px;
    }
    #main1
    {
        width: 1000px;
       
        margin-left: 70px;
        display: flex;
    }
    #desc_div
    {
        margin-left: 20px;
        font-family: sans-serif;
        font-weight: 200;
     
        height: 420px;
        width: 400px;
    }
    #desc_div>h3
    {
        font-size: 20px;
        font-weight: 200;
    }
    #cost
    {
        margin-top: -20px;
    }
    #choice
    {
       
        width: 70%;
        height: 90px;
        display: flex;
    }
    select
    {
        margin-top: 20px;
        border: 1px solid rgb(226, 226, 226);
        padding: 8px 100px 8px 4px;
    }
    #addCart_btn
    {
        border: none;
        background-color: rgb(39,134,95);
        color: white;
        padding:10px  60px 10px 60px;
        border-radius: 5px;
        margin-left: 10px;
    }
    #addCart_btn1{
       
        padding:10px  60px 10px 60px;
        border-radius: 5px;
        background-color:lightgray;
        border: 1px solid gray;
        margin: 35px 0 0 10px;
        cursor: pointer;
    }
    #top
    {
        margin: 110px;
        margin-left: 67px;
    }
    #icons
    {
        display: flex;
      
        width: 150px;
        height: 40px;
        margin-left: 67px;
    }
    #icons>i
    {
        width: 100px;
    }
    #specs{
        display: flex;
        justify-content: space-evenly;
        border-bottom: 1px solid black;
        width: 70%;
        margin: auto;
    }
    #ItemDet{
        display: flex;
        gap: 25px;
        width: 65%;
        margin: auto;
    }
    #details_Item{
        flex: 1;
    }
    #spec_Details{
        flex: 1;
    }
    td{
        border-bottom: 3px dotted gray;
    }
    .box1{
        border: 1px solid rgb(204, 199, 199);
    }