    body
    {
        font-family: sans-serif;
        margin-top:160px;
    }
    #container
    {   
        /* margin-top:110px; */
        width: 90%;
        height: 1200px;
        margin: auto;
        display: flex;
    }
    #left
    {
        width: 70%;
        height: 100%;
    }
    #left>div
    {
        height: 300px;
        border: rgb(218,220,223) solid 1px;
        display: flex;
        margin-bottom: 10px;
    }
    .item-name{
        font-size: 16px;
    }
    #right
    {
        width: 27%;
        margin-left: 1%;
        height: 300px;
        border: solid rgb(218,220,223) 1px;
    }
    #check_out
    {
        border: black solid 1px;
        height: 50px;
        width: 80%;
        margin: auto;
        border-radius: 5px;
        background-color: black;
        color: white;
        font-size: 20px;
        margin-left: 30px;
    }
    img
    {
        width: 33%;
        margin: 10px;
    }
    .remove-btn
    {
        font-size: 16px;
        margin-left:30px;
        background: none;
        border: none;
        text-decoration: underline;
        cursor: pointer;
        padding: 5px;
        color: inherit;
        font-family: inherit;
    }
    .remove-btn:hover, .remove-btn:focus-visible
    {
        color: rgb(172,27,37);
        text-decoration: none;
        outline: 2px solid rgb(47, 51, 55);
        outline-offset: 2px;
    }
    #showTotal{
       text-align: center;
    }