.overstock_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  height: 6rem;
  border-bottom: 1px solid #c3c3c3;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.overstock_div > img {
  height: 1.8rem;
  margin-top: 2rem;
}

.overstock_div > p {
  margin-left: 10px;
  color: #000;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  margin-top: 2.3rem;
}

.overstock_div2 {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 5rem;
  margin: auto;
  margin-bottom: 2rem;
}

.overstock_div2 > img {
  height: 4.5rem;
}

.overstock_div2 > p {
  color: #000;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  margin-top: 1.7rem;
  font-weight: bold;
}

.returnAnchor_div {
  color: #000;
  margin-left: 19%;
  font-size: 13px;
  font-family: helvetica, arial, sans-serif;
  margin-bottom: 0.6rem;
}
.returnAnchor {
  color: #000;
}
#addressContainer {
  width: 64%;
  min-height: 29.5rem;
  background-color: white;
  margin: 0 auto;
  display: flex;
}

.addressBox1 {
  width: 49%;
  display: flex;
  flex-direction: column;
  min-height: 27.8rem;
  border: 1px solid #c3c3c3;
}

.addressBox2 {
  width: 49%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  border: 1px solid #c3c3c3;
}

.addressBoxHead {
  width: 100%;
  height: 3rem;
  background-color: #f0ece0;
}
.addressBoxHead > p {
  color: #000;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
  margin-top: 1.5rem;
  margin-left: 0.5rem;
}

/* Updated Form Styles */
.checkout-form-group {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    align-items: center;
}

.form-row label {
    flex: 0 0 35%;
    color: #000;
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    padding-left: 0.5rem;
    box-sizing: border-box;
}

.form-row input, .form-row select {
    flex: 1;
    margin-right: 1rem;
    height: 1.8rem;
    border: 1px solid #c3c3c3;
    padding: 0 0.5rem;
    font-size: 14px;
}

.boldLabel {
    font-weight: bold;
}

.interputer {
  color: #000;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  margin-top: 0rem;
  margin-bottom: 0.3rem;
}

.paymentsItemInfo {
  width: 64.5%;
  background-color: white;
  margin: 0.7rem auto;
  display: flex;
  flex-direction: column;
}

.methodShipping {
  width: 100%;
  /* height: 12rem; */
  display: flex;
  flex-direction: column;
}

.headShipping {
  width: 100%;
  background-color: #f0ece0;
  height: 1.6rem;
}

.headShipping > p {
  color: #000;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-left: 0.4rem;
  margin-top: 0.3rem;
}

.shippingInfo {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.shippingDiv2 {
    display: flex;
    flex-direction: column;
}

.shipping-option {
    margin-bottom: 1.3rem;
}

.shipping-option label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.shipping-option input {
    margin-right: 0.5rem;
}

.shippingDiv2 span {
  color: #000;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
}

.shippingDiv2 .green {
  color: #00c928;
  font-family: helvetica, arial, sans-serif;
  font-size: 11px;
  margin-top: 0.2rem;
}


.paymentUserDetails {
  width: 64.5%;
  /* height: 17rem; */
  background-color: white;
  margin: 0.7rem auto;
  display: flex;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-direction: column;
}

.payment_divHead {
  width: 100%;
  height: 1.7rem;
  background-color: #f0ece0;
}
.payment_divHead > p {
  color: #000;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  margin-left: 0.5rem;
  margin-top: 0.45rem;
  margin-bottom: 0rem;
  margin-right: 0rem;
  font-weight: bold;
}

.paymentDetails {
  display: flex;
  flex-direction: column;
}

.imgDiv {
  width: 100%;
  height: 2.9rem;
}
.imgDiv > img {
  width: 10rem;
  height: 100%;
  margin-left: 0.5rem;
}

.cardInfo {
  display: flex;
  padding-bottom: 1rem;
}

.inputbox {
  width: 100%;
  height: 1.5rem;
  border: 1px solid #c3c3c3;
  border-radius: 0rem;
}

.button {
  width: 10%;
  height: 2rem;
  margin-left: 70%;
  color: #fff;
  background-color: #00c928;
  border: none;
  cursor: pointer;
  margin-bottom: 2rem;
}

#t3 {
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  margin: 1rem 0;
}
