#furniture{
    width: 95%;
    display:flex;
    margin: auto;
}
.heading{
    margin-top: 120px;
    margin-bottom:20px;
    margin-left: 50px;
}
#furniture-cat{
    flex:2;
}
#furniture-images{
    flex:8;
    display:flex;
    gap: 20px;
    
}
.furniture-Img1{
   position: relative;
   
    width: 100%;
    cursor: pointer;
}
.furniture-Img2{
    display:flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
   cursor: pointer;
}

.furniture-Img2>div{
    background-color:rgb(245,245,245);
    height:250px;
}
 #img1{
    position: relative;
    text-align: center;
    height: 180px;
    margin-top:70px;
} 

.furniture-Img1text{
    position:absolute ;
    top: 25%;
    left: 81%;
   text-align: center;
   font-size: 25px;
}
.furniture-Img2text{
    position:absolute ;
    top: 65%;
    left: 81%;
   text-align: center;
   font-size: 25px;
}
.text{
    position:absolute;
    background-color:rgb(71,126,144);
    color: white;
    font-size:25px;
    padding:25px;
    text-align:center;
    
}
.btn{
    background-color:rgb(71,126,144);
    color: white;
    padding:50px;
    border: 1px solid white;

    cursor: pointer;
    margin-top:20%;
    /* padding:20px; */
}
.readMore{
    background-color:white;
    color: black;
    padding:10px;
    border: 1px solid black;
    border-radius:6px;
    cursor: pointer;
    margin-top:10%;
    width:18%;
    height: 40px;
}
#img2{
    /* position: relative; */
    width: 100%;
    height:520px;
}
#main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    width: 95%;
    margin:auto;
    
}
#poster{
    width: 100%;
}
#div1{
    background-color: #8080801a;
    text-align: center;
}
#div1:hover{
   cursor: pointer;
}
p{
    font-size:25px;
    /* text-align: center; */
    margin-left: 0px;
}
#detail{
   width:95%;
   display: flex;
   margin: auto;
   margin-top:50px;
}
#tvGuide{
  flex: 1;
}
#tvText{
   flex: 1;
   text-align: left;
   font-size:18px;
}
.txtSmall{
   font-size:18px;
   /* background-color: white; */
  height:20px;
  margin-top:0px;
  margin-bottom:0px;
}
.txtMed{
   font-size: 25px;
   text-align: left;
}
#main1{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    width: 95%;
    margin:auto;
    background-color:white;
}
span{
   font-weight: bolder;
}
a{
    text-decoration:none;
    color:black;
    font-size:16px;
    margin-top:20px;
    font: weight 400;
}
li{
    list-style-type: none;
    margin-top:2%;
}
#rating{
    height: 15px;
    font-size:15px;
    margin-top:2px;
   
}