title{
    color: white;
}
body{
    margin-top:110px;
}
#flashsale{
    width: 100%;
    height: 20px;
    background-color: rgb(255,70,147);
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top: 7px;
    font-weight:700;
    font-family :"Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    text-decoration: none;
}
#flashsale:hover {
    text-decoration: underline;
    cursor: pointer;
}
#flashsale:focus-visible {
    outline: 2px solid white;
    outline-offset: -2px;
}
#container{
    width: 1300px;
   
    margin: auto ;

}
#bannerfirst{

    display: grid;
    grid-template-columns: 35% 60% ;
    gap: 5%;
    
}
#b1h2,#b2h2,#b3h2,#b4h2,#b5h2,#b6h2{
    margin: 60px 0px 40px 0px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:32px;
    font-weight:700;
    text-align: center;
    color: rgb(47,51,55);

}
#bannertwo{

    width: 95%;
    margin: auto;
   display: grid;
   grid-template-columns: repeat(6,1fr);
   gap: 10px;
}

#bannertwo>a{
    
    background-color: rgb(255,250,238);
    margin: auto;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px ;
    font-weight: 700;
    text-align: center;
    border: none;
    padding: 0;
    width: 100%;
    display: block;
    text-decoration: none;
    color: rgb(47,51,55);
}#bannertwo>a:hover{
    cursor: pointer;
}
#bannertwo>a:focus-visible {
    outline: 2px solid rgb(47, 51, 55);
    outline-offset: 2px;
}

#bannerthird>img{
width: 100%;
height: 100%;
}
#procategory{
    display: flex;
    flex-direction: column;
    


}#procategory>div{
    cursor: pointer;
   
   

}
#procategory>div:hover{
    cursor: pointer;
   

}
#procategoryrow1{
    display: grid;
    grid-template-columns: repeat(6,1fr) ;
    gap: 60px;
    
}
#procategoryrow1>div>img{
    width: 100%;
    /* border: 1px solid; */
   
}
#procategoryrow1>div>p{
    font-size: 18px;
    font-weight: 400;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    color:rgb(84, 86, 88);
    text-align: center;

}
#bannerfive{
    margin-top: 60px;
    

}
#bannersix{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
   cursor: pointer;
    gap: 20px;
   

}
#bannersix>div{
    background-color: rgb(245,246,247);
}
#bannersix>div:hover{
   
    border: 1px solid rgb(27, 112, 192);
    
}

#bannersixtext{
   margin-top: 0px;
   
    flex: 3;
    text-align: center;

}
#bannersixtext>div>h2{
    font-size: 16px;
    text-align: center;
    margin-bottom: 0px;

}

#bannersixtext>div>h4{
    margin-top: 0px;
    font-size: 16px;
    font-weight: 400;
    
}
#bannereight{
    margin: 60px 0px 40px 0px;
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
   

}
#bannereight>div{
    background-color: rgb(245,246,247);
    


}
#bannereight>div>h2,p{
    
margin-left: 30px;    
}



#bannereight>div:hover{
    cursor: pointer;
}

#btn>button{
    border: 0px;

    margin: 1% 43.5% 0% 43.1%;
    background-color: rgb(47,51,55);
    color: white;
    height: 45px;
    width: 13% ;
    border-radius: 2px;
}
#btn>button:hover{
    cursor: pointer;
}

#trendingdiv{
    display: grid;
    grid-template-columns: repeat(3,1fr);
     grid-template-rows: 60px 60px 60px 60px;
     gap: 20px;
     margin-bottom: 30px;
}
#trendingdiv>button{
    border: none;
    width: 100%;
    height: 100%;
   text-align: center;
    background-color: rgb(245,246,247);
    color: rgb(84,86,88);
    font-size: 22px;
    font-weight: bold;
    font-family:"Times New Roman";
    cursor: pointer;
    width: 100%;
    height: 100%;
}
#trendingdiv>button:hover{
    background-color: rgb(235, 236, 237);
}
#trendingdiv>button:hover{
    background-color: rgb(235, 236, 237);
}
#trendingdiv>button:focus-visible {
    outline: 2px solid rgb(47, 51, 55);
    outline-offset: 2px;
}

#footer{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 50px 0px 0px 100px;
    background-color: rgb(84,86,88);
    height: 300px;
    
}
#footer>div{
    /* border: 1px solid; */
    text-align: left;
     display: flex;
     flex-direction: column;
     gap: 20px;
    
}
#footer>div>h4{
    color: rgb(248,245,244) ;
    font-size: 14px;
    font-weight:700;
    font-family:"Times New Roman";

   
   
}
#footer>div>a{
    color: rgb(248,245,244)  ;
    text-decoration: none;
    font-size: 12px;
    font-family:"Times New Roman";
    font-weight:700;
}

#end{
    display: flex;
    justify-content: space-between;
    background-color: rgb(47,51,55);
    height: 100px;
    color: rgb(248,245,244)  ;
}#endone{
    margin: 20px 0px 0px 150px;
}
#endone>p{
    font-family: "Times New Roman";
    font-size: 12px;
    font-weight: 400;
}

#endtwo{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}
#endtwo>a{
    margin-top: 30px;
      text-decoration: none;
    color: rgb(248,245,244)  ;
    font-family: "Times New Roman";
    font-size: 12px;
    font-weight: 400;
}

/* ....................................................... */



.carousel {
    width: 100%;
    margin: 40px 0px 30px 0px;
  
 
}

.carousel-cell {
  width: 12%;
  height: 300px;
  margin: 15px;
  display: flex;
  flex-direction: column;
 
}
.carousel-cell>div>h5{
    width: 100%;
margin: 3px 0px 0px 0px ;
text-align: left;
font-size:14px ;
font-family :"Helvetica Neue", Helvetica, Arial, sans-serif;
font-family: 700px;
color:  rgb(199, 32, 44);
}
.carousel-cell>div>p{
    margin: 3px 0px 0px 0px ;
    text-align: left;
    font-size:14px ;
    font-family :"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: 400px;
    color:rgb(47, 51, 55);
    }

.carousel2{
    margin: 0%;
   

}
    
.carousel-cell2{
        width: 22%;
        height: 450px;
        margin: 15px;
        display: flex;
        flex-direction: column;
        /* border: 1px solid; */
        background-color: rgb(245,245,245);
       
      }
.carousel-cell2>div>h2{
        width: 100%;
    margin: 3px 0px 20px 40px ;
    text-align: left;
    font-size:24px ;
    font-family :"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: 700px;
    color: rgb(47, 51, 55);
    
    }

    .carousel-cell2>div>p{
        margin: 3px 0px 0px 40px ;
        text-align: left;
        font-size:16px ;
        font-family :"Helvetica Neue", Helvetica, Arial, sans-serif;
        font-family: 400px;
        color:rgb(47, 51, 55);
        }


       #tagbanner{
           margin-top: 70px;
           margin-bottom: 70px;

        height: 350px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
       } 

    

       #tagbannertext{
           background-color: rgb(245,245,245);
          
           text-align: center;
           font-family :"Helvetica Neue", Helvetica, Arial, sans-serif;

       }
       #tagbannertext>h5{
           font-size: 16px;
           margin-bottom: 5px;

       }
       #tagbannertext>h1{

        width: 60%;
        margin-left: 20% ;

       }
       #tagbannertext>h6{
        margin-left: 5%;
       margin-right: 5%;
        width: 90%;
        font-size:16px ;
        font-family :"Helvetica Neue", Helvetica, Arial, sans-serif;
       font-size: 100;
        color:rgb(47, 51, 55);   
       }
    #tagbannertext>button{
        height: 30px;
        background-color: white;
        border: none;
    }


