body {
  margin: 0px;
  padding: 0px;
  font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.User p,
.User div {
  font-size: 14px;
  color: #626669;
}
.User h2 {
  color: #444444;
  margin-bottom: 30px;
}
.User {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 49% 1% 49%;
  grid-gap: 1%;
  margin-top: 200px;
}
.User button {
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}
.User input {
  border-radius: 3px;
}
.signUp {
  padding: 0% 12%;
}
.signUp form {
  display: flex;
  flex-direction: column;
}
.signUp .passwordDiv {
  display: grid;
  grid-template-columns: repeat(2, 47%);
  grid-template-rows: repeat(2, auto);
  gap: 5%;
}
.signUp .bar > div {
  height: 1px;
  width: 80%;
  border-bottom: 2px solid #eeeeee;
  margin: 20px auto;
}
.signUp .checkboxDiv + button {
  background-color: #0272a2;
  height: 40px;
  color: white;
  font-weight: bolder;
  border: 1px solid #0272a2;
}
.signUp .checkboxDiv + button:hover {
  background-color: #01638d;
}
.signUp .info p,
.signUp .info div {
  color: #626669;
  font-size: 12px;
  line-height: 20px;
}
.signUp .info a {
  font-size: 12px;
  line-height: 20px;
  color: black;
  font-weight: 600;
}
.checkboxDiv {
  display: flex;
  background-color: #f9fafc;
  text-align: left;
  margin: 20px 0;
  border: 1px solid #dadcdf;
  border-radius: 3px;
  padding: 4px 15px;
}
.checkboxDiv label {
  font-size: 12px;
  margin: 5px;
  margin-right: 0px;
  margin-top: 5px; /* Override .User label margin */
  margin-bottom: 5px; /* Override .User label margin */
  cursor: pointer;
}
.User label {
  margin-top: 14px;
  margin-bottom: 10px;
}
.User input {
  height: 30px;
  padding-left: 10px;
  border: 1px solid #d5d7d8;
}
.guest button {
  height: 40px;
  color: #626669;
  border: 1px solid #d5d7d8;
  font-weight: bolder;
  background-color: #fafafa;
  width: 100%;
}
.guest .info {
  text-align: center;
}
.vertical_line {
  margin-top: 70px;
  height: 500px;
  width: 1px;
  border-left: 1px solid #d5d7d8;
}
.signIn {
  padding: 0% 10%;
}
.signIn form {
  display: flex;
  flex-direction: column;
}
.signIn form > div {
  display: flex;
  flex-direction: column;
}
.signIn button {
  height: 40px;
  color: white;
  font-weight: bolder;
  background-color: #27865f;
  width: 100%;
  margin: 20px 0px;
  border: 1px solid #27865f;
}
.signIn button:hover {
  background-color: #217451;
}
.signIn a {
  text-align: center;
  color: #0272a2;
  font-weight: 600;
  font-size: 12px;
}
.privacyInfo {
  width: 70%;
  margin: auto;
  margin-top: 30px;
}
.privacyInfo a {
  text-decoration: none;
  color: #2f3337;
  margin: 10px 0px;
}
.privacyInfo a:hover {
  text-decoration: underline;
  color: blueviolet;
}
#errorMessage {
  display: none;
}
#errorMessage > p {
  width: 51%;
  margin: 10px auto;
  background-color: #faf2f2;
  color: #b11b25;
  padding: 10px 20px;
}
@media screen and (max-width: 1100px) {
  .User {
    width: 70%;
  }
}
@media screen and (max-width: 1000px) {
  .User {
    width: 80%;
  }
  .privacyInfo {
    width: 80%;
  }
}
@media screen and (max-width: 900px) {
  .User {
    width: 90%;
  }
}
@media screen and (max-width: 750px) {
  .User {
    width: 100%;
  }
  .privacyInfo {
    width: 90%;
  }
}
@media screen and (max-width: 650px) {
  .User {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-gap: 1%;
  }
  .User .vertical_line{
    display: none;
  }
}
